<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FuLu.Cache" version="1.0.2.2" targetFramework="net452" />
  <package id="FuLu.Data" version="1.0.0.4" targetFramework="net452" />
  <package id="FuLu.Data.Sugar" version="1.0.0.8" targetFramework="net452" />
  <package id="FuLu.Util" version="1.0.2.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1.19813" targetFramework="net452" />
  <package id="SqlSugar" version="1.0.0.2" targetFramework="net452" />
</packages>