<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=.;Initial Catalog=workflow_db;User ID=sa;Password=yaoqi" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="Server=120.27.192.107,55433;Initial Catalog=FuluErpDB;User ID=fuluerptest;Password=RmKdEsTzsJcQ5xwY7yPqX" providerName="System.Data.SqlClient" />-->
  <add name="ERPDb" connectionString="Server=10.0.0.138;Initial Catalog=FuluErpDB;User ID=sa;Password=yaoqi" providerName="System.Data.SqlClient"/>
  <!--<add name="BaseDb" connectionString="Server=919YI-20170228W\PANWEI;Initial Catalog=FuluErpDB;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->
  <!--短信推送数据库-->
  <add name="NotDb" connectionString="Server=fulumobilegame.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=bigdatadb;User ID=bigdatafilter;Password=ZR5jQ8ZtCdWcLDoj6tE" providerName="System.Data.SqlClient" />
  <add name="AccountDb" connectionString="Server=10.0.10.138;Initial Catalog=FuluErpDB;User ID=sa;Password=yaoqi" providerName="System.Data.SqlClient" />
  <add name="WWF_UltimusDb" connectionString="Server=10.0.0.138;Initial Catalog=FuluErpDB_WWF;User ID=sa;Password=yaoqi" providerName="System.Data.SqlClient" />
  <add name="wonder4_wf" connectionString="Server=.;Initial Catalog=workflow_db;User ID=sa;Password=yaoqi" providerName="System.Data.SqlClient" />

  <!--<add name="BaseDb" connectionString="Server=.;Initial Catalog=FuluErpDB;User ID=sa;Password=yaoqi" providerName="System.Data.SqlClient" />
  <add name="AccountDb" connectionString="Server=.;Initial Catalog=ST_account;User ID=sa;Password=yaoqi" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=192.168.0.103;port=3306;Initial Catalog=FuLuFramework_Base_2016;user id=FuLu;password=123456;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
</connectionStrings>